@import "/styles/vars.scss";

$first-cut: 875px;
$second-cut: 590px;
$third-cut: 400px;

@mixin title-base {
  position: relative;
  top: 0;
  color: #FFF;
  text-shadow: 0 0 2px #000;
  display: flex;
  width: 550px;
  overflow-y: hidden;

  & h1, h4 {
    margin: 0;
    padding: 0;
  }

  & h1 {
    font-size: 54px;
  }

  @media screen and (max-width: $first-cut) {
    & h1 {
      font-size: 40px;
    }
  }

  @media screen and (max-width: $second-cut) {
    & h1 {
      font-size: 35px;
    }
  }
}

@mixin rightResponsive {
  @media screen and (max-width: $first-cut) {
    right: -40%;
  }

  @media screen and (max-width: $second-cut) {
    right: -5%;
  }
}

@mixin xsInTopRight {
  @media screen and (max-width: $third-cut) {
    top: 5%;
    right: 0;
  }
}

.titleTopRight {
  @include title-base;
  @include rightResponsive;
  top: 0;
  right: -5%;
}

.titleTopLeft {
  @include title-base;
  @include xsInTopRight;
  top: 0;
  left: 70%;
}

.titleCenterRight {
  @include title-base;
  @include rightResponsive;
  @include xsInTopRight;
  top: 40%;
  right: -60%;
}

.titleCenterLeft {
  @include title-base;
  @include xsInTopRight;
  top: 40%;
  right: -5%;
}

.titleBottomRight {
  @include title-base;
  @include rightResponsive;
  @include xsInTopRight;
  top: 80%;
  left: 70%;
}

.titleBottomLeft {
  @include title-base;
  @include xsInTopRight;
  top: 80%;
  right: -5%;
}

.logo {
  background: $secondary-color;
  padding: 15px;
  border-radius: 15px;
  margin: 0 20px;

  @media screen and (max-width: $first-cut) {
    padding: 10px;

    & img {
      width: 80px;
      height: 80px;
    }
  }

  @media screen and (max-width: $second-cut) {
    padding: 5px;

    & img {
      width: 50px !important;
      height: 50px !important;
    }
  }
}