@import '../../../styles/vars.scss';

.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100vw;
  margin: auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: $title-color;

  .title {
    margin-bottom: 1vh;
    & span {
      color: #fff;
      font-size: 1.3rem;
      font-weight: bold;
    }
  }

  .detail {
    margin-bottom: 3vh;
    & span {
      color: $primary-dark-color;
      font-size: 1.3rem;
      font-weight: bold;
    }
  }

  .contentItems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: '. . . . .';
    margin: 0px 100px;
    padding-top: 5rem;

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 5px;

      .icon {
        font-size: 3rem;
        margin: 5px;
        color: #fff;
      }
      & span {
        color: $primary-dark-color;
        font-size: 1.3rem;
        font-weight: bold;
      }
      .details {
        font-size: 1rem;
        text-align: center;
        color: #fff;
      }
      .detailsLink {
        font-size: 1rem;
        text-align: center;
        color: $primary-dark-color;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: $tablet-size) {
  .Footer {
    border-radius: 50px 50px 0px 0px;
    .contentItems {
      display: block;
      margin: 0px 10px;
    }
  }
}
