@mixin base-image {
  width: 100%;
  height: 100%;
  background-size: 180%;
  background: url("/houses/house_2.jpg") no-repeat;
  min-width: 410px;
}

.imageMovement {
  @include base-image;
  background-size: 180%;
  animation: movement 10s both linear;
}

.imageZoomOut {
  @include base-image;
  background-position: center;
  background-size: 150%;
  animation: zoom-out 10s both linear;
}

@keyframes zoom-out {
  0% {
    background-size: 180%;
  }

  50% {
    background-size: 150%;
  }

  100% {
    background-size: 120%;
  }
}

@keyframes movement {
  0% {
    background-position: bottom right;
  }

  25% {
    background-position: center;
  }

  50% {
    background-position: top left;
  }

  75% {
    background-position: center;
  }

  100% {
    background-position: bottom right;
  }
}