@import '../../../styles/vars.scss';

.Title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: auto;
  padding-bottom: 5rem;
  padding-top: 10vh;
  width: 100vw;
  max-width: 1200px;

  .contentTitle {
    padding-bottom: 5rem;
    & span {
      color: $primary-dark-color;
      font-size: 2rem;
      font-weight: bold;
    }
  }

  .imgContent {
    margin: 0px 10px;
    width: 100%;
    height: auto;
    .contentImg {
      display: flex;
      justify-content: space-around;
      width: 100%;
      height: auto;

      margin-bottom: 3vh;

      .imgClass {
        height: 170px;
        width: 300px;
      }
    }
  }
}
@media screen and (max-width: $tablet-size) {
  .Title {
    height: auto;
    .imgContent {
      .contentImg {
        display: block;
        width: 100%;
        margin-bottom: 0vh;
        padding-bottom: 0vh;

        .imgClass {
          height: 170px;
          width: 100%;
        }
      }
    }
  }
}
