.contentDiv {
  & img {
    height: auto;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    :hover {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
  }
}

@media screen and (max-width: 900px) {
  .contentDiv {
    & img {
      width: 100%;
      margin: 5% 0%;
    }
  }
}
