@import '/styles/vars.scss';

.headerWrapper {
  width: 100vw;
  height: 100vh;
}

.headerBackground {
  width: 100% !important;
  height: 100vh !important;
  background-size: 100% !important;
  background-repeat: no-repeat;
  background-color: #2b2b2b;
  transition: 1s;

  @media screen and (max-width: $desktop-size) {
    background-size: 140% !important;
    background-position: center;
  }

  @media screen and (max-width: $tablet-size) {
    background-size: 200% !important;
    background-position: center;
  }

  @media screen and (max-width: $mobile-size) {
    background-size: 400% !important;
    background-position: center;
  }
}

.headerLayout {
  width: 100vw;
  height: 100vh;
  margin-top: -100vh;

  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
  grid-template-rows: 0.5fr 0.15fr 0.25fr;

  @media screen and (max-width: $tablet-size) {
    grid-template-columns: 0.6fr 0.4fr;
  }

  @media screen and (max-width: $mobile-size) {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.2fr 0.2fr 0.2fr;
  }
}

.headerTitle {
  display: flex;
  align-items: flex-end;
  padding: 20px;

  & div {
    display: flex;
    width: 100%;
    text-shadow: 1px 1px #2b2b2b;

    @media screen and (max-width: $tablet-size) {
      flex-direction: column;
    }

    & img {
      margin-right: 15px;
      border-right-width: 9px;
      border-right-color: blanchedalmond;
      border-right: outset;
      padding-right: 20px;
      border-width: thick;
      border-color: #bcbcbc;

      @media screen and (max-width: $tablet-size) {
        margin-right: 0px;
        border-right-width: 0px;
        border-right-color: transparent;
        border-right: none;
        padding-right: 0px;
        border-width: none;
        border-color: transparent;

        width: 100px;
        display: flex;
        justify-content: center;
        align-self: center;
      }
    }

    & div {
      display: flex;
      width: 100%;
      flex-direction: column;

      & h3 {
        font-size: 20px !important;
        font-weight: 400;
        color: #575757;
        @media screen and (max-width: $tablet-size) {
          display: flex;
          justify-content: center;
        }
      }

      & h1 {
        font-size: 54px !important;
        font-weight: 600;
        width: 100%;
        color: #575757;
        @media screen and (max-width: $tablet-size) {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

.headerSubtitle {
  grid-area: 2 / 1 / 3 / 3;
  padding: 0 20px;

  & h2 {
    font-size: 32px;
    color: #575757;
    text-shadow: 1px 1px #2b2b2b;
    font-weight: 400;
    overflow: hidden;
    line-height: 40px;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff,
      -1px 1px #fff;

    @media screen and (max-width: $tablet-size) {
      font-size: 28px;
    }

    @media screen and (max-width: $mobile-size) {
      font-size: 22px;
      line-height: 30px;
    }
  }

  @media screen and (max-width: $mobile-size) {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    align-items: center;
  }
}

.headerList {
  grid-area: 3 / 1 / 4 / 2;
  display: flex;
  align-items: center;
  overflow: hidden;

  & ul {
    list-style: none;

    & li {
      overflow: hidden;
      color: #000;
      font-size: 20px;
      font-weight: 400;
      margin: 0 20px 10px 20px;
      padding-left: 20px;
      border-left: solid 1px #000;
      text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff,
        -1px 1px #fff;

        @media screen and (max-width: $mobile-size) {
          font-size: 16px;
        }
    }
  }

  @media screen and (max-width: $mobile-size) {
    grid-area: 3 / 1 / 4 / 2;
    align-items: flex-start;
  }
}

.headerReservation {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  & div {
    background-color: $primary-dark-color;
    padding: 20px 60px 20px 20px;
    font-size: 24px;
    max-width: 300px;
    text-align: center;
    cursor: pointer;
    & p {
      color: #fff;
    }
  }

  @media screen and (max-width: $mobile-size) {
    grid-area: 4 / 1 / 5 / 2;
    justify-content: flex-start;
  }
}
