@import '/styles/vars.scss';

.content {
  padding: 20px;
  background-color: $title-color;
  height: 100vh;

  .contentImg {
    display: flex;
    justify-content: center;
  }

  .title {
    display: flex;
    align-items: center;
    flex-direction: column;
    & h2 {
      color: #fff;
    }
    & h1 {
      color: #fff;
    }
  }

  & ul {
    & li {
      margin: 15px 0px;
      font-size: x-large;

      & a {
        padding: 10px;
        color: #fff;
        font-weight: bold;
        transition: all ease 0.4s;

        &:hover {
          color: $primary-dark-color;
          text-decoration: none;
        }
      }
    }
  }
}
