@import '../../../styles/vars.scss';

.title {
  display: flex;
  width: 100vw;
  justify-content: center;
  color: $primary-dark-color;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 5rem;
}

.content {
  display: flex;
  width: 100vw;
  flex-direction: row-reverse;

  .contentImg {
    width: 50vw;
    margin: 20px;

    & img {
      object-fit: cover;
    }
  }

  .contentDetails {
    width: 50vw;
    margin: 20px;

    & h3 {
      color: $primary-dark-color;
      padding-bottom: 2rem;
    }

    & p {
      color: $text-color;
      font-size: 16px;
      display: flex;
      font-weight: 400;
    }
  }
}
@media screen and (max-width: $tablet-size) {
  .content {
    flex-direction: column;
    .contentImg {
      width: 90%;

      & img {
        width: 100%;
        height: auto;
      }
    }

    .contentDetails {
      width: 90%;
    }
  }
}
