@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './vars.scss';

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.rs-carousel {
  background-color: #8e8e9300 !important;
}

.rs-carousel-toolbar {
  background-color: #fff0 !important;
}

.rs-carousel-slider-after,
.rs-carousel-slider-item {
  background-color: #8e8e9300 !important;
}

.rs-carousel-label {
  background-color: rgba(0, 0, 0, 0.406) !important;
}

.rs-carousel-label-wrapper input:checked ~ label {
  background-color: $primary-dark-color !important;
}
