@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './vars.scss';

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.rs-carousel {
  background-color: #8e8e9300 !important;
}

.rs-carousel-toolbar {
  background-color: #fff0 !important;
}

.rs-carousel-slider-after,
.rs-carousel-slider-item {
  background-color: #8e8e9300 !important;
}

.rs-carousel-label {
  background-color: rgba(0, 0, 0, 0.406) !important;
}

.rs-carousel-label-wrapper input:checked ~ label {
  font-size: x-large;
  background-color: $primary-dark-color !important;
}

.rs-nav-item {
  color: #000 !important;
  font-size: x-large;
}

.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  left: 40px;
  color: $white;
  text-align: center;
  font-size: 30px;
  z-index: 100;
  cursor: pointer;

  display: flex;
  justify-content: center;
}

.rs-nav-justified {
  z-index: 0;
}

.rs-nav-item-active {
  color: $primary-dark-color !important;
}

.rs-nav-subtle .rs-nav-item.rs-nav-item-active:before {
  background-color: $primary-dark-color !important;
}

@media screen and (max-width: $tablet-size) {
  .whatsapp {
    bottom: 30px;
    left: 80vw;
  }
}
