// Colors
$primary-color: #022356;
$title-color: #000;

$primary-light-color: #95A59E;
$secondary-color: #7AA7D2;
$secondary-light-color: #A8C9EA;
$tertiary-color: #DCE0EB;

// Sizes
$desktop-size: 1200px;
$tablet-size: 900px;
$mobile-size: 650px;
