// Colors
$primary-color: #59c65b;
$primary-dark-color: #3f8e40;
$title-color: #2b2b2b;
$text-color: #585858;
$white: rgb(170, 170, 170);

// Sizes
$desktop-size: 1200px;
$tablet-size: 900px;
$mobile-size: 650px;
