@import '../../../styles/vars.scss';

.secondaryProject {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  @media screen and (max-width: $mobile-size) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }
}

.projectImage {
  padding: 30px 0 20px 80px;
  margin-right: -50px;
  text-align: right;

  & img {
    background-color: #FFF;
    padding: 10px;
    max-width: 100%;
    border-radius: 2px;

    @media screen and (max-width: $mobile-size) {
      padding: 0;
      height: auto;
    }
  }

  @media screen and (max-width: $tablet-size) {
    padding: 30px;
    margin-right: 0;
    text-align: center;
  }

  @media screen and (max-width: $mobile-size) {
    padding: 0;
  }
}

.projectDescription {
  background-color: #d7d7d7b5;
  padding: 20px;
  margin: 80px 0 0 -20px;
  height: 280px;
  max-width: 500px;

  & span {
    font-size: 1.5rem;
    color: $primary-color;
    font-weight: 800;
  }

  & ul {
    list-style: none;
    padding-top: 20px;

    & li {
      color: #555;
      font-size: 16px;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      font-weight: 400;

      & span {
        margin-right: 10px;
        display: inline-block;
        color: #555;
        font-size: 16px;

        border: solid 1px #555;
        border-radius: 20px;

        min-width: 25px;
        min-height: 25px;
        max-width: 25px;
        max-height: 25px;
        
        padding-left: 6px;
      }
    }
  }

  @media screen and (max-width: $tablet-size) {
    margin: 0;
  }

  @media screen and (max-width: $mobile-size) {
    margin: -20px 0 0 0;
    max-width: 100%;
  }
}